/*  this is a static folder */
h1{
	color: red;
	
}
h2 img {
	 height: 400px;
    width: 600px;
}
h3 img {
	height: 300px;
	width: 600px;
	background-color:lightblue;
}
div {
	text-align: center;
	style="background-color:lightblue"
}